.content {
    padding-top: 10px;
}

.content li a {
    cursor: pointer;
}

#tab2 {
    display: none;
}

#tab3 {
    display: none;
}

#tab4 {
    display: none;
}

.my-tab-contents {
    padding-top: 20px;
}